/** Theme */
:root {
  --color-primary: #418ffe;
  --color-secondary: #93a6c5;
}

/** Color */
.color-primary {
  color: var(--color-primary);
}

body,
html {
  font-size: 0.95rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

input[type='checkbox'] {
  cursor: pointer;
}

.scroll-sm::-webkit-scrollbar {
  width: 5px;
}

.scroll-sm::-webkit-scrollbar-thumb {
  background: #cecdcd;
}

.nav-link.active {
  /* box-shadow: 3px 3px 5px rgba(0,0,0,0.2) !important; */
  color: #fff !important;
  background-color: var(--color-primary) !important;
}
.nav-link.active svg {
  color: #fff;
}

nav .nav-link {
  color: #363636;
}

.transition-all {
  transition: all 0.3s !important;
}

.cursor-pointer {
  cursor: pointer;
}

.print-show {
  display: none;
}

/** Card */
.card {
  border: 0;
}

/** Button */
.btn.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn.btn-outline-primary {
  background-color: transparent !important;
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}
.btn.btn-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.btn.btn-outline-secondary {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}
/* .btn.btn-success {
  background-color: var(--color-success);
  border-color: var(--color-success);
} */
.btn.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

/** Bootstrap Override */
.nav-link:focus,
.nav-link:hover {
  color: var(--color-primary);
}

@media print {
  .print-show {
    display: block;
  }
  .print-hide {
    display: none;
  }
  .print-invisible {
    visibility: hidden;
  }
  .print-m1 {
    margin: 10px;
  }
  .print-m2 {
    margin: 20px;
  }
  .print-mr1 {
    margin-right: 10px;
  }
  .print-ml1 {
    margin-left: 10px;
  }
}
