body, html {
  font-size: .95rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

.nav-link.active {
  box-shadow: 5px 5px 5px gray !important;
  outline: thin solid gray;
}

.transition-all {
  transition: all 0.3s !important;
}

.cursor-pointer {
  cursor: pointer;
}

@media print {
  .print-hide {
    display: none;
  }
}
